server:
  port: 8080
  address: 0.0.0.0

  eureka:
    client:
      serviceUrl:
        defaultZone: http://localhost:3000/eureka/
      register-with-eureka: true
      fetch-registry: true

  spring:
    application:
      name: gateway
    main:
      web-application-type: reactive
    cloud:
      gateway:
        routes:
          - id: service1
            uri: http://localhost:8081
            predicates:
              - Path=/api/greeting/**
          - id: service2
            uri: http://localhost:8082
            predicates:
              - Path=/product/**

#TODO use eureka to discover the URL for the service1 and service2
#TODO configure spring cloud gateway to route the request to downstream services (service1 and service2) based on the paths(/api/greeting, /product)
#TODO for greeting endpoint add a route to accept requests to /greeting but before calling service1 it must append api before the greeting path (HINT: rewrite path filter)
#and method types (GET,POST)