
server:
  port: 8082
spring:
  application:
    name: service2
  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:3000/eureka/
    register-with-eureka: true
    fetch-registry: true